@use "@styles/colors";

.menuMobile {
	width: 60%;
	height: 35vh;
	padding: 24px;

	z-index: 9;
	position: absolute;
	top: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba($color: colors.$WhiteColor, $alpha: 0.3);
	backdrop-filter: blur(10px);

	ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		li {
			font-size: min(1rem, 6vw);

			a {
				color: inherit;
				font-weight: inherit;
				font-size: inherit;
			}
		}
	}
}
