.containerStates {
	width: 100%;
	min-height: 40vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	@media (max-width: 840px) {
		grid-template-columns: repeat(2, 1fr);
		min-height: 70vh;
	}
}
