@font-face {
	font-family: ArgentumSans;
	src: url(assets/fonts/ArgentumSans-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: ArgentumSans;
	src: url(assets/fonts/ArgentumSans-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: ArgentumSans;
	src: url(assets/fonts/ArgentumSans-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: ArgentumSans;
	src: url(assets/fonts/ArgentumSans-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: ArgentumSans;
	src: url(assets/fonts/ArgentumSans-Black.ttf);
	font-weight: 900;
}

.fw-lg {
	font-weight: 300;
}

.fw-rg {
	font-weight: 400;
}

.fw-md {
	font-weight: 500;
}

.fw-bd {
	font-weight: 600;
}

.fw-bk {
	font-weight: 900;
}
