@import "./fonts.scss";
@import "./colors.scss";

*,
*::after,
*::before,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font-family: ArgentumSans;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
}

body,
html {
	background-color: $WhiteColor;
	color: $PrimaryColor;
}

ul,
li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

.btn {
	padding: 8px;
	width: 132px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: $PrimaryColor;
	border-radius: 32px;
	cursor: pointer;
	transition: all 0.4s;

	color: $WhiteColor;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: min(0.9rem, 6vw);
	font-weight: 700;

	&:hover {
		opacity: 0.8;
	}
}
