@font-face {
	font-family: ArgentumSans;
	src: url(assets/fonts/ArgentumSans-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: ArgentumSans;
	src: url(assets/fonts/ArgentumSans-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: ArgentumSans;
	src: url(assets/fonts/ArgentumSans-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: ArgentumSans;
	src: url(assets/fonts/ArgentumSans-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: ArgentumSans;
	src: url(assets/fonts/ArgentumSans-Black.ttf);
	font-weight: 900;
}

*,
*::after,
*::before,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font-family: ArgentumSans;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
}

body,
html {
	background-color: #000;
	color: #ffff;
}

ul,
li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

h1 {
	font-weight: 300;
}
